@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background: #001e4d;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 30px;
    margin: 200px auto;
    border-radius: 10px;
}

.container h1 {
    font-size: 1.5rem;
    color:#001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 2rem;
    font-weight: 600;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #001e4d;
}

#answer-btns {
    margin-top: 23px;

}

.btn {
    color: #222;
    font-weight: 500;
    background: #fff;
    border: 1px solid #222;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.btn:not([disabled]):hover{
    color: #fff;
    background: #222;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    color: #fff;
    background: #001e4d;
    width: 120px;
    margin: 20px auto;
    padding: 10px;
    border: 0;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
    display: none;
    cursor: pointer;   
}

.correct {
    background: #39d35579;
}

.incorrect {
    background: #de2f2ff5;
}